* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; }

body {
  background-color: #fff;
  color: #2c2f3b;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.5; }

.header {
  background: url("../img/m-h-day.jpg") no-repeat center center;
  background-size: auto;
  border-bottom-right-radius: 45% 30%;
  height: 580px;
  width: 100%; }
  .header-wrap {
    padding-top: 15px;
    padding-left: 100px;
    width: 580px; }
  .header .landing-logo {
    display: flex;
    width: 110px; }
    .header .landing-logo img {
      height: 35px;
      width: 35px;
      padding-left: 5px;
      padding-right: 10px; }
    .header .landing-logo p {
      font-family: "Hind", sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1;
      margin-top: 5px;
      overflow-wrap: break-word;
      white-space: pre-line; }
    .header .landing-logo span {
      display: block;
      font-size: 8px;
      font-weight: 300;
      letter-spacing: 0.2px;
      line-height: 1.5;
      text-align: center; }
  .header_heading {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 1;
    padding-top: 60px;
    padding-bottom: 22px;
    position: relative; }
    .header_heading::after {
      content: "awesome";
      position: absolute;
      z-index: 1;
      background-color: #23a0c5;
      color: #2c2f3b;
      left: 0; }
  .header_text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    margin-left: -30px;
    padding-bottom: 30px;
    white-space: pre-wrap; }
  .header_button {
    background-color: #6a981a;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-right: 120px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none; }
  .header a {
    background-color: initial;
    color: #fff;
    font-size: 16px; }

.section {
  margin: 0 auto;
  width: 960px; }
  .section_text {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 22px;
    position: relative;
    text-align: center; }
    .section_text::after {
      content: "adventure ";
      position: absolute;
      z-index: 1;
      background-color: #23a0c5;
      color: #2c2f3b;
      left: 489px; }
  .section_card {
    background-color: #21232e;
    border-radius: 6px;
    color: #afb3c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px 90px 15px 15px; }
    .section_card_wrap {
      margin-bottom: 60px;
      padding-left: 35px;
      padding-right: 35px; }
    .section_card_img {
      border-radius: 6px;
      vertical-align: middle;
      width: 44%; }
    .section_card_right_container {
      text-align: center;
      width: 370px; }
    .section_card_heading {
      background-color: initial;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 30px; }
    .section_card .section_link, .section_card .section_card_text {
      background-color: initial;
      color: #afb3c0;
      font-size: 13px; }
    .section_card_text {
      font-family: "Hind", sans-serif;
      margin-bottom: 15px;
      text-align: justify; }
  .section_banner {
    background-image: linear-gradient(to right, #6a981a, #325fca);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 60px; }
    .section_banner_text_wrap {
      padding: 20px 0 20px 130px;
      width: 500px; }
    .section_banner_heading {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      position: relative; }
      .section_banner_heading::after {
        content: "start";
        position: absolute;
        z-index: 1;
        background-color: #23a0c5;
        color: #2c2f3b;
        left: 95px; }
    .section_banner_text {
      background-color: initial;
      color: #afb3c0;
      font-size: 14px;
      margin-bottom: 15px; }
    .section_banner_button {
      background-color: #6a981a;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      font-size: 16px;
      margin-right: 120px;
      padding: 10px 35px;
      text-align: center;
      text-decoration: none; }

.footer {
  background-color: #21232e;
  color: #afb3c0;
  font-family: "Hind", sans-serif;
  font-size: 12px;
  padding: 100px; }
  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer_logo {
    display: flex;
    width: 110px; }
    .footer_logo img {
      height: 35px;
      width: 35px;
      padding-left: 5px;
      padding-right: 10px; }
    .footer_logo p {
      font-family: "Hind", sans-serif;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1;
      margin-top: 5px;
      overflow-wrap: break-word;
      white-space: pre-line; }
    .footer_logo span {
      display: block;
      font-size: 8px;
      font-weight: 300;
      letter-spacing: 0.2px;
      line-height: 1.5;
      text-align: center; }
  .footer_text {
    width: 260px; }
  .footer_cr {
    letter-spacing: -1px; }
