$font-sizes: ("xx-s": 8px, "x-s": 12px, "s": 13px, "m": 14px, "m+": 16px, "m++": 18px, "l": 24px, "x-l": 34px, "xx-l": 60px);
$font-weight: ("light": 300, "medium": 500, "semi-bold": 600, "bold": 700);

@mixin button {
    background-color: $color-button;
    border-radius: 3px;
    color: $color-text-white;
    display: inline-block;
    font-size: map-get($font-sizes, "m+");
    margin-right: 120px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none; }
@mixin link {
    background-color: initial;
    color: $color-text-white; }

@mixin logo-wrap {
    display: flex;
    width: 110px; }
@mixin logo-img {
    height: 35px;
    width: 35px;
    padding-left: 5px;
    padding-right: 10px; }
@mixin logo-name {
    font-family: $font-logo;
    font-size: map-get($font-sizes, "m++");
    font-weight: map-get($font-weight, "medium");
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 5px;
    overflow-wrap: break-word;
    white-space: pre-line; }
@mixin logo-text {
    display: block;
    font-size: map-get($font-sizes, "xx-s");
    font-weight: map-get($font-weight, "light");
    letter-spacing: 0.2px;
    line-height: 1.5;
    text-align: center; }

@mixin highlighted-text ($content) {
    content: $content;
    position: absolute;
    z-index: 1;
    background-color: $color-highlight;
    color: $color-text-main; }

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0; }

body {
    background-color: $color-bg;
    color: $color-text-main;
    font-family: $font-main;
    font-weight: map-get($font-weight, "light");
    line-height: 1.5;
}

.header {
    background: $header-bg no-repeat center center;
    background-size: auto;
    border-bottom-right-radius: 45% 30%;
    height: 580px;
    width: 100%;

    &-wrap {
        padding-top: 15px;
        padding-left: 100px;
        width: 580px; }

    .landing-logo { 
        @include logo-wrap;
        img { 
            @include logo-img; }
        p { 
            @include logo-name; }
        span { 
            @include logo-text; } }
    
    &_heading {
        font-size: map-get($font-sizes, "xx-l");
        font-weight: map-get($font-weight, "bold");
        letter-spacing: -0.8px;
        line-height: 1;
        padding-top: 60px;
        padding-bottom: 22px;
        position: relative;

        &::after {
            @include highlighted-text('awesome');
            left: 0; } }
    
    &_text {
        font-size: map-get($font-sizes, "m");
        font-weight: map-get($font-weight, "light");
        line-height: 1.4;
        margin-left: -30px;
        padding-bottom: 30px;
        white-space: pre-wrap; }
    
    &_button {
        @include button; }
    
    a {
        @include link;
        font-size: map-get($font-sizes, "m+"); }
}

.section {
    margin: 0 auto;
    width: 960px;
    
    &_text {
        font-size: map-get($font-sizes, "x-l");
        font-weight: map-get($font-weight, "semi-bold");
        margin-bottom: 25px;
        margin-top: 22px;
        position: relative;
        text-align: center;

        &::after {
            @include highlighted-text('adventure ');
            left: 489px; } }
    
    &_card {
        background-color: $card-color-bg;
        border-radius: 6px;
        color: $card-color-text;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 15px 90px 15px 15px;

        &_wrap {
            margin-bottom: 60px;
            padding-left: 35px;
            padding-right: 35px; }

        &_img{
            border-radius: 6px;
            vertical-align: middle;
            width: 44%; }

        &_right_container{
            text-align: center;
            width: 370px; }

        &_heading {
            background-color: initial;
            color: $card-color-head;
            font-size: map-get($font-sizes, "m++");
            font-weight: map-get($font-weight, "semi-bold");
            line-height: 1.5;                
            margin-bottom: 30px; }

        .section_link {
            background-color: initial;
            color: $card-color-text;
            font-size: map-get($font-sizes, "s"); }

        &_text {
            @extend .section_link;
            font-family: $font-logo;
            margin-bottom: 15px;
            text-align: justify; } }

    &_banner {
        background-image: $banner-bg;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 60px; 

        &_text_wrap {
            padding: 20px 0 20px 130px;
            width: 500px; }

        &_heading {
            font-size: map-get($font-sizes, "l");
            font-weight: map-get($font-weight, "semi-bold");
            margin-bottom: 10px;
            position: relative;

            &::after {
                @include highlighted-text('start');
                left: 95px; } }

        &_text {
            background-color: initial;
            color: $banner-color-text;
            font-size: map-get($font-sizes, "m");
            margin-bottom: 15px; } 

        &_button {
            @include button; } }
}    

.footer {
    background-color: $footer-color-bg;
    color: $footer-color-text;
    font-family: $font-logo;
    font-size: map-get($font-sizes, "x-s");
    padding: 100px;
    
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between; }
    
    &_logo { 
        @include logo-wrap;
        img { 
            @include logo-img; }
        p { 
            @include logo-name; }
        span { 
            @include logo-text; } }
        
    &_text {
        width: 260px; } 

    &_cr {
        letter-spacing: -1px; }}


