$color-text-white: #fff;
$color-text-main: $color-text-white;

$color-bg: #21232e;

$font-main: 'Source Sans Pro', sans-serif;
$font-logo: 'Fresca', sans-serif;

$color-highlight: #f64e39;
$color-button: #dfae0a;

$header-bg: url("../img/m-h-night.jpg");

$card-color-bg: #3b3e50;
$card-color-head: $color-text-white;
$card-color-text: #afb3c0;

$banner-bg: linear-gradient(to right, $color-button, #8f2d52);
$banner-color-text: $card-color-text;

$footer-color-bg: $card-color-bg;
$footer-color-text: $card-color-text;