$color-text-main: #2c2f3b;
$color-text-white: #FFF;

$color-bg: $color-text-white;

$font-main: 'Source Sans Pro', sans-serif;
$font-logo: 'Hind', sans-serif;

$color-highlight: #23a0c5;
$color-button: #6a981a;

$header-bg: url("../img/m-h-day.jpg");

$card-color-bg: #21232e;
$card-color-head: $color-text-white;
$card-color-text: #AFB3C0;

$banner-bg: linear-gradient(to right, $color-button, #325fca);

$footer-color-bg: $card-color-bg;
